---
import Layout from '../layouts/Layout.astro'
import {loadQuery} from '../lib/sanity/load-query'

const SETTINGS_QUERY = `*[_type == "settings"][0]{ siteTitle, tagline }`

const {data: settings} = await loadQuery<{
  siteTitle: string | null
  tagline: string | null
} | null>({query: SETTINGS_QUERY})
---

<Layout>
  <div class="center-wrapper">
    <div class="center-block">
      <h1>
        {settings?.siteTitle}
        <br />
      </h1>
      <div class="subtitle">{settings?.tagline}</div>
    </div>
  </div>

  <style>
    .center-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .center-block {
      text-align: center;
    }

    h1 {
      font-family: var(--font-serif);
      font-size: 4.2rem;
      letter-spacing: 0.069rem;
    }
    .subtitle {
      font-family: var(--font-mono);
      font-size: 0.8rem;
      letter-spacing: 0.069rem;
    }
  </style>
</Layout>
